<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello, Old Friend!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #008080;
            margin-top: 50px;
        }
        
        p {
            text-align: center;
            color: #008080;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Hello, Igor Olegovich</h1>
    <p>Welcome to my web-service</p>
    <p>Have a nice day !!!</p>
</body>
</html>